* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root{
    --primary-color:rgb(23,23,104);
  }
  
  body {
    background-color: rgb(46, 5, 48);
  }
  
  label {
   
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  input {
    font-size: 20px;
    
    border-radius: 5px;
  }
  
  .details-section {
    color: #FA7070;
  
    text-align: center;
    margin-top: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  button {
    margin-top: 15px;
    background: #3ABFF8;
    border: none;
    padding: 1.2vh 1vw;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    
  }
  
  h3 {
   
    padding: 0;
    color: #ffffffb7;
    position: absolute;
    right: 20%;
    left: 80%;
    font-size: 60px;
    width: max-content;
    opacity: 0.5;
    
  }
  @media (max-width: 768px) {
   
    h3 {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  .floor-container {
    display: flex;
    
    gap: 50px;
   
    position: relative;
  }

  .floor {
    height: 130px;
    border-bottom: 1px solid #ffffff;
  }
  
  .lift {
    background-color: rgb(46, 5, 48);
    border: 1px solid #C6EBC5;
    width: 6.5vw;
    height: 14vh;
    position: relative;
    
  }
  @media  (max-width: 768px){
       .lift{
        width:5.9vw;
        height: 10vh;
       }
  }
  @media (max-width:480px){
     .lift{
       width: 5vw;
       height: 8vh;
     }
     
  }
  @media (max-width:540px){
       button{
         font-size: 10px;
       }
      }
  @media (max-width:360px){
     .lift{
      width: 4.5vw;
      height: 6vh;
     }
  }
  .button-container{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          /* border: 1px solid red; */
  }
  .call-lift-up-btn {
    border: none;
    background-color: #FA7070;;
    color: #DFF6FF;
    /* margin: 45px 0 1vw 0; */
    border-radius: 5px;
     cursor: pointer;
    width: 11vw;
    /* border: 1px solid red; */
  }
  .call-lift-down-btn{
    border: none;
    background-color: #FA7070;;
    color: #DFF6FF;
   
    border-radius: 5px;
    cursor: pointer;
   
    width: 11vw;
  }
  
  .total-lifts {
    display: flex;
    flex-wrap: no-wrap;
    gap: 100px;
 
  }
  
 
   .left-door {
    background-color: #0a243d;
    content: '';
    position: absolute;
    width: 49%;
    height: 100%;
    transition:transform 2s linear;
  }
 

   .right-door {
    background-color: #FA7070;
    content: '';
    position: absolute;
    width: 49%;
    height: 100%;
    left: 50%;
    transition:transform 2s linear;
    
  } 
  
 